/* arquivo CSS com estilos dos elementos de todas as páginas */

* {
    box-sizing: border-box;
  }

  html {
    margin: 0;
    padding: 0;
    font-family: serif;
    font-size: 62.5%; /* equivalente a 10px */
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7f9;
  }

  h1, h2, p, li {
    font-family: Arial, Helvetica, sans-serif;
    /*color: #454545;*/
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }

  ul {
    font-size: 20px;
  }

  ul li {
    font-size: .8em; /* equivalente a 16px */
    height: 3rem; /* equivalente a 30px */
  }

  p {
    font-size: 1.6rem; /* equivalente a 16px */
  }

  h2 {
    font-size: 2rem; /* equivalente a 20px */
  }

  .topo {
    background: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

  /* Style the header */
  header {
    background-color: #129778;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  /* Create two columns/boxes that floats next to each other */
  nav {
  padding: 20px;
  }
  .nav-aulas {
  background: #129197;
  }

  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  nav h3 {
  color: cyan;
  }
  nav ul a:hover {
  color: chartreuse;
  }
  article {
  padding: 20px;
  text-align: center;
  }
  article h2 {
  margin: 5px;
  }
  article p {
  margin: 5px;
  }
  
  /* estilo do formulário */
  form div {
    background: #fff;
    border: 0;
    border-bottom: 1px solid #33f;
    /*
    border-top: 1px solid #33f;
    border-left: 1px solid #33f;
    border-right: 1px solid #33f;
    */
    margin: 1rem 2rem;
    padding: 20px;
  }
  label {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #66f;
  }
  input {
    padding: 1rem;
  }
  [type="text"], [type="email"], textarea, label {
    width: 100%;
    display: block;
  }

  /* Clear floats after the columns */
  section::after {
    background: #ccc;
    content: "";
    display: table;
    clear: both;
  }

  /* Style the footer */
  footer {
    background-color: #129778;
    padding: 10px;
    text-align: center;
    color: #fff;
  }

  .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  align-items: center;
  }

  .row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
  }
  .container {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
  }

  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
      nav, article {
      width: 100%;
      height: auto;
      }
  }
  @media (min-width: 768px) {
      .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
      }
      .col-md-9 {
      flex: 0 0 auto;
      width: 75%;
      }
      .col-md-3 {
      flex: 0 0 auto;
      width: 25%;
      }
  }
  @media (min-width: 1200px) {
      .container {
      max-width: 100%;
      }
  }